/* fix for dropdown links */
.navbar-custom .nav li li a {
    color: black;
} 

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: inherit;
}

/* fix for navbar background */
@media (min-width: 768px)    {
.navbar-inverse.navbar-custom {
    background-color: #222;  
}
}
/* fix for p tag in welcome message */
@media (min-width: 768px)   {
header .intro-text .intro-heading p {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
}
}

/* fix for button color on active+focus */
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, 
.btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
		color: #fff;
    background-color: #fec503;
    border-color: #f6bf01;
}

.panel-default>.panel-heading {
    color: white;
    background-color: #222;
    border-color: #222;
}

.btn-default {
    color: white;
    background-color: #222;
    border-color: #222;
}

footer {
    padding: 25px 0;
    text-align: center;
    background: #222;
    color: #fff;
}

.layout-homepage footer {
  background: white;
  color: #222;
}        


ul.social-buttons li a {
    background-color: #fed136;
    color: #222;
}

.layout-homepage ul.social-buttons li a {
    background-color: #222;
    color: white;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
    background-color: #fed136;
}

.layout-homepage ul.social-buttons li a:active, 
.layout-homepage ul.social-buttons li a:focus, 
.layout-homepage ul.social-buttons li a:hover {
    background-color: #fed136;
}



.pagination>li>a, .pagination>li>span {
    color: #222;
    background-color: #fff;
    border: 1px solid #fed136;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #222;
    cursor: default;
    background-color: #fed136;
    border-color: #fed136;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #fed136;
    background-color: #222;
    border-color: #fed136;
}

.panel-primary {
    border-color: #fed136;
}

.panel-primary>.panel-heading {
    color: #222;
    background-color: #fed136;
    border-color: #fed136;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #222;
}

.nav>li>a:focus, .nav>li>a:hover {
    color: #222;
    background-color: #fed136;
}

/*  login page */
img.logo {
    margin-top: -5px;
    margin-right: 5px;
}

#login-template { max-width: 330px;  margin-right: auto;  margin-left: auto;     }
#login-template h2.caption { text-align:center; font-size:120%; opacity:0.8 }
#login-template .logo { padding-top:50px; margin-left:auto; margin-right: auto }


/* colors in dropdown menu */
@media (max-width: 767px)   { 
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	    color: #fed136;
	}
 
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	    color: white;
	}
}
