<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
	<div class="container">
		<a class="navbar-brand js-scroll-trigger" href="{SITEURL}"><img src="{THEME}assets/img/navbar-logo.svg" /></a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" 
		aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu<i class="fas fa-bars ml-1"></i></button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav text-uppercase ml-auto">
				{NAVIGATION=main} {BOOTSTRAP_USERNAV}
			</ul>
		</div>
	</div>
</nav>
  
<header class="masthead">
	
  <div class="container">
  	{MENU=2}
    <div class="intro-text">
        {SETSTYLE=wm}
        {---} 
    </div>
  </div>
</header>
      
<div class="container">
  {ALERTS}
   
</div>

{SETSTYLE=section}
{MENU=3}



<section id="ourservices">
    <div class="container">
			
         	{SETSTYLE=notitle}
        	{CHAPTER_MENUS: name=home-services}

    </div>
</section>

<section class="page-section bg-light" id="portfolio">
    <div class="container">
		{PORTFOLIOITEMS}	 
   </div>
</section>
    
<!-- About Section No.3 menu 3 + ...-->
<section class="page-section" id="about">
    <div class="container">
           {CHAPTER_MENUS: name=timeline}
    </div>
</section>

    <!-- Team Section Section N.4 - menu 4 -->
<section class="page-section bg-light" id="team">
  <div class="container">

        {CHAPTER_MENUS: name=our-team}

      <div class="row">
          <div class="col-lg-8 mx-auto text-center">
              <p class="large text-muted">{THEME_PREF: code=textafterteam&default=Lorem Ipsum}</p>
          </div>
      </div>
  </div>
</section>
 
{SETSTYLE=section}
{MENU=4}
 
<!-- Clients Aside Section N. 5 -->
<section class="py-5">
    <div class="container">
        <div class="row">
            {SETSTYLE=notitle}
            {GALLERY_PORTFOLIO: category=2&limit=4}             
        </div>
    </div>
</section>
<section class="page-section" id="contact">
	<div class="container">
		<form id="contactForm" name="sentMessage" novalidate="novalidate">
			{SETSTYLE=contact}
			{AGENCY_CONTACTFORM}
		</form>
	</div>
</section>
 

